/* @font-face {
    font-family: 'Norse-Bold';
    src: url("Downloads/Norse-Bold.otf") format("opentype");
} */
body {
    height: 100%;
    width: 100vh;
    overflow: hidden;
    background-color: rgb(252, 245, 245);
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.image-container {    
    background-image: url("https://s1.1zoom.me/b7745/254/Raspberry_Many_Texture_Closeup_Berry_536512_600x800.jpg");
    height: 100vh;
    width: 30%;
    float: left;
    color: white;
}
.image-container .logo {
    height: 140px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 138px;
}
.image-container .logo img {
    width: 85px;
    height: 110px;
    top: 10px;
    position: relative;
}
.image-container p {
    position: fixed;
    bottom: 0; 
    left: 180px;
    font-size: 20px;
}

.sign-up p{
    position: relative;
    left: 50px;
    top: 100px;
    font-size: 20px;
    max-width: 1300px;
    margin: 4px;
    font-family: Cambria, Times, 'Times New Roman', serif;;
    font-weight: bold;
}
.sign-up .form {
    background-color: white;
    width: 100%;
    height: 250px;
    font-size: 18px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sign-up .form p {
    top: 5px;
    left: 48px;
    padding: 10px;
}
.sign-up .wrap label {
    display: block;
}
.sign-up .wrap input {
    height: 25px;
    width: 260px;
    border-radius: 4px;
    border: 1px solid rgb(223, 220, 220);
}
.sign-up .wrap input[type="password"]:invalid {
    border-color: red;
}
.sign-up .wrap input[type="password"]:valid {
    border-color: green;
}
button[type='submit'] {
    margin: 20px;
    width: 175px;
    height: 38px;
    margin-left: 50px;
    background-color: #E30B5C;
    color: aliceblue;
    border-radius: 8px;
    border: #E30B5C;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button[type='submit']:hover{
    opacity: 0.8;
}
.sign-up .foot p{
    font-size: 15px;
    top: 5px;
    left: 55px;
}
.sign-up .foot p a{
    text-decoration: none;
    color: #E30B5C;
    font-weight: bold;
}